# ===================================
# Python base
# ===================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===================================
# Build / Distribuzione / Packaging
# ===================================
.Python
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ===================================
# File temporanei / Output locali
# ===================================
dev/
examples/
examples/output/
output/
tmp/
temp/
examples/
Examples/

# ===================================
# Ambienti virtuali
# ===================================
venv/
ENV/
env/
.venv/

# ===================================
# PyInstaller
# ===================================
*.manifest
*.spec

# ===================================
# Test / Coverage
# ===================================
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# ===================================
# IDEs e Editor
# ===================================
.idea/
.vscode/

# ===================================
# OS specifici
# ===================================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# ===================================
# Misc
# ===================================
.env
.env.*
.ipynb_checkpoints
*.log
*.bak
*.tmp
*.swp

# ===================================
# File vari
# ===================================
*.png
*.jpeg
*.gif
*.csv
*.xls
#*.xlsx
*.sqlite3
*~
